<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
</head>
<body>
    <h1>Device List</h1>
    <ul>
        <li>Diamond Kevin</li>
        <li>name: "Diamond Loïc", ip: "10.130.3.158", status: "analyzing"</li>
    </ul>
    <h3>TODO :</h3>
    <ul>
        <li>Faire marcher la nav avec les boutons</li>        
        <li>Afficher un menu de navigation</li>
        <li>Définir une classe Device avec 3 propriétés : name, ip, status</li>
        <li>Dans cette page :</li>
        <li>
            <ul>
                <li>Créer une instance de Device pour diamond Loic</li>
                <li>Afficher cet objet en utilisant un composant qui sera appelé Device_line</li>
            </ul> 
        </li>
        <li>Faire une page pour afficher des pokemon (obtenus via api)</li>
        <li>Faire un backend API qui renvoie des données hardcodées</li>
        <li>modifier le BE pour utiliser un fichier JSON à la place des données</li>
        <li>modifier le BE pour utiliser Alchemy a la place du fichier JSON</li>
    </ul>
</body>
</html>