{% extends 'devices-base.html' %}
{% extends 'devices-base.html' %}

{% block head %}
<title>Devices</title>
{% endblock %}

{% block devices_content %}
<div class="content card">
   <div class="card-body">
      <h1 class="card-title">Devices List</h1>
      <a class="btn mybtn mb-3" href="{{ url_for('home') }}">Back to Home</a>

      <table class="table table-bordered table-striped text-center align-middle">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">IP</th>
               <th scope="col">Status</th>
               <th scope="col">Actions</th>
            </tr>
         </thead>
         <tbody>
            {% for device in devices %}
            <tr>
               <th scope="row">{{ device.name }}</th>
               <td>{{ device.ip }}</td>
               <td>{{ device.status }}</td>
               <td>
                  <a href="#" class="btn mybtn mb-3">Delete</a>
                  <a href="#" class="btn mybtn mb-3">Update</a>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>

   </div>
</div>
{% endblock %}