{% extends 'devices-base.html' %}

{% block head %}
<title>Devices</title>
{% endblock %}

{% block devices_content %}
<div class="content card">
  <div class="card-body">
    <h1 class="card-title">Devices List</h1>
    <a class="btn mybtn mb-3" href="{{ url_for('home') }}">Back to Home</a>

    <table class="table table-bordered table-striped text-center align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">IP</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Diamond Kevin</th>
          <td>10.130.3.155</td>
          <td>analyzing</td>
          <td>
            <a href="#" class="btn mybtn mb-3">Delete</a>
            <a href="" class="btn mybtn mb-3">Update</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Diamond Loïc</th>
          <td>10.130.3.150</td>
          <td>sending data</td>
          <td>
            <a href="#" class="btn mybtn mb-3">Delete</a>
            <a href="" class="btn mybtn mb-3">Update</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
{% endblock %}